.hidden {
  display: none !important; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Heebo', sans-serif; }

body {
  background-color: #DEBB49; }

main {
  position: relative;
  height: 100vh; }

html {
  font-size: 62.5%; }

.btn {
  outline: none;
  background-color: transparent;
  border: 5px solid #DEBB49;
  border-radius: 5px;
  color: #2B2B2B;
  font-size: 2rem;
  font-weight: 700; }

.current {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  animation: fadeIn .4s ease forwards; }
  .current__label {
    font-size: 4rem; }
  .current__score {
    font-size: 6rem; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    padding: 3rem; } }

/*
    
*/
.control {
  display: flex;
  gap: 5rem;
  width: 100%; }
  .control__btn {
    width: 50%;
    padding: 7rem 0;
    background-color: #DEBB49; }

.player {
  position: absolute;
  background-color: rgba(43, 43, 43, 0.6);
  height: 100vh;
  width: 100%;
  transition: all .3s ease; }
  .player--0 {
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 60% 0, 0 60%); }
  .player--1 {
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 40%, 100% 100%, 40% 100%); }
  .player--active--0, .player--active--1 {
    background-color: #2B2B2B;
    z-index: 10; }
  .player--active--0 {
    clip-path: polygon(0 0, 90% 0, 0 90%); }
  .player--active--1 {
    clip-path: polygon(100% 10%, 100% 100%, 10% 100%); }

.total {
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem; }
  .total__score {
    font-size: 7rem; }

.wrapper {
  margin: 5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  transition: all .3s ease; }
  .wrapper--p0 {
    align-items: flex-start; }
  .wrapper--p1 {
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    text-align: right; }

/*
    margin: 10rem 5rem;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;

    color: $color-white;
    text-transform: uppercase;
    line-height: 1;
*/
