.btn{
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    border: none;

    color: $color-primary;
    font-size: 2rem;
    font-weight: 700;

    cursor: pointer;

    transition: all .3s ease;

    

    &--again{
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        padding: 1rem 0;
        width: 16rem;
        
        background-color: $color-primary;
        color: $color-secondary;
        border-radius: 100px;

        &:hover{
            transform: translateX(-50%) scale(1.1);
        }
    }

    &--roll,
    &--hold{
        background-color: $color-secondary;
        height: 12rem;
        width: 12rem;

        &:hover{
            transform: scale(1.1);
        }
    }

    &--roll{
        align-self: flex-end;
    }
    &--hold{
        align-self: flex-start;
    }
}