.current{
    display: none;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    background-color: rgba($color-white, 0.2);
    color: $color-white;
    transition: all .3s ease;

    &__label{
        font-size: 4rem;
    }

    &__score{
        font-size: 6rem;
    }

    &--active{
        display: flex;
        animation: fadeIn .4s ease forwards;
    }
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        padding: 3rem;
    }
}
/*
    
*/