.current{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    border-radius: 5px;
    background-color: rgba($color-white, 0.2);
    color: $color-white;
    animation: fadeIn .4s ease forwards;

    &__label{
        font-size: 4rem;
    }

    &__score{
        font-size: 6rem;
    }
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        padding: 3rem;
    }
}
/*
    
*/