*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: $color-primary;
}

main {
    position: relative;
    height: 100vh;
}